
@{
    ViewData["Title"] = "Unsubscribe Page";
}

<div class="text-center">
    <div>
        <p>
            Sorry to see you go! @ViewBag.Email has been successfully unsubscribed!
        </p>
    </div>

</div>
